@model Core.BLL.DTO.Entities.Avatar

@{
    ViewData["Title"] = "Edit avatar picture";
}

<h1>@Shared.Resources.SharedRes.Edit</h1>

<h4>@Core.Resources.Domain.DomainEntities.Avatar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group"> *@
            @*     <label asp-for="Exp" class="control-label"></label> *@
            @*     <input asp-for="Exp" class="form-control" /> *@
            @*     <span asp-validation-for="Exp" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                                <label asp-for="UploadedImage" class="control-label"></label>
                                <input asp-for="UploadedImage" type="file" class="form-control" />
                                <span asp-validation-for="UploadedImage" class="text-danger"></span>
                        </div>
            <input type="hidden" asp-for="Id" />
            @* <input type="hidden" asp-for="AppUserId" /> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Shared.Resources.SharedRes.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
