@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    @Shared.Resources.AspPages.YourPasswordHaveBeenReset <a asp-page="./Login">@Shared.Resources.AspPages.LogIn</a>.
</p>
