@model WebApp.Areas.Admin.ViewModels.ActivityTypeCreateEditeViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ActivityType.Name" class="control-label"></label>
    <input asp-for="ActivityType.Name" class="form-control" />
    <span asp-validation-for="ActivityType.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ActivityType.DaysToComplete" class="control-label"></label>
    <input asp-for="ActivityType.DaysToComplete" class="form-control" />
    <span asp-validation-for="ActivityType.DaysToComplete" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ActivityType.HoursToComplete" class="control-label"></label>
    <input asp-for="ActivityType.HoursToComplete" class="form-control" />
    <span asp-validation-for="ActivityType.HoursToComplete" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ActivityType.MinutesToComplete" class="control-label"></label>
    <input asp-for="ActivityType.MinutesToComplete" class="form-control" />
    <span asp-validation-for="ActivityType.MinutesToComplete" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ActivityType.Exp" class="control-label"></label>
    <input asp-for="ActivityType.Exp" class="form-control" />
    <span asp-validation-for="ActivityType.Exp" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ActivityType.Value" class="control-label"></label>
    <input asp-for="ActivityType.Value" class="form-control" />
    <span asp-validation-for="ActivityType.Value" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ActivityType.Money" class="control-label"></label>
    <input asp-for="ActivityType.Money" class="form-control" />
    <span asp-validation-for="ActivityType.Money" class="text-danger"></span>
</div>